<%- include("header");-%>
  <section id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <img src="/img/9.png" alt="" class="imgs">
        </div>
        <div class="col-lg-6 col-md-12">
          <h1>Naša priča</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p><b>Misija:</b> Svojom ponudom proizvoda stvoriti najbolje uslove za potrošače. Uz stručne i motivisane radnike pružiti najbolju uslugu i prijatnu kupovinu potrošačima u ugodnom okruženju. Rastom i dobrim poslovanjem osigurati dobit za Kompaniju.</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p><b>Vizija:</b> Da budemo sinonim za kompaniju koja posluje u dosluhu s vremenom koje dolazi.</p>
        </div>
      </div>
    </div>
  </section>
<%- include("footer")-%>
