<%- include("header");-%>
<section id="sliderImg">
    <div class="slider col-12" id="main-slider">
      <img src="/img/1.jpg" class="imgsSlider">
    </div>
  </section>
  <hr>
<%- include("products", {categories:categories})-%>
<hr>
<section id="brands">
    <div class="row">
      <img src="/img/garnier.png" alt="garnier" class="brandimg">
      <img src="/img/loreal.png" alt="loreal" class="brandimg">
      <img src="/img/mixa.png" alt="mixa" class="brandimg">
      <img src="/img/becutan.png" alt="becutan" class="brandimg">
      <img src="/img/subrina.png" alt="subrina" class="brandimg">
    </div>
  </section>

<%- include("footer")-%>
